:root{
  --background: linear-gradient(1.42deg, #FFFFFF 0.82%, #CDCDCD 98.44%);
  --calculadora:#D47A7A;
  --fondo-teclas:#E3B7B7;
  --numeros:transparent;
  --operadores:#D99595;
  --borde-operadores:#BD8484;
  --borde-teclas:white;
  --boton-light-mode:#E3B7B7;
  --fondo-botón-light-mode:#f0f0f0;
  --boton-dark-mode:#380725;
  --font-h3:black;
}
body{
  margin: 0%;
  box-sizing: border-box;
  background: var(--background);
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  transition: .3 ease all;
}
/*Estilos botón modo oscuro*/
.mode{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h3{
  width: 40%;
  color: var(--font-h3);
}
.switch{
  width: 70px;
  height: 30px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  outline: none;
}
.switch::after{
  content: '';
  display: block;
  width: 50%;
  height: 30px;
  position: absolute;
  background:var(--boton-light-mode);
  top:0;
  left: 0;
  right: unset;
  border-radius: 10px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 10%);
}
.active::after{
  content: '';
  display: block;
  width: 50%;
  height: 30px;
  position: absolute;
  background: var(--boton-dark-mode);
  top:0;
  left: unset;
  right: 0;
  border-radius: 10px;
  transition: .3s ease all;
}
/*Estilos calculadora*/
.container{
  padding: 2%;
}
h1{
  font-size: 50px;
}
p{
  font-size: clamp(.9rem, 3vw,2.2rem);
}
.intro{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  text-align: center;
}
/*Estilos calculadora*/
.calculadora{
  width: 90vw;
  margin:0 auto;
  background-color:var(--calculadora);
  height:90vh;
  border-radius: 10px;
  border-spacing: 5px;
  padding: .7%;
}
/*Fondo teclas*/
.teclas{
  background-color: var(--fondo-teclas);
  display:table;
  width:93%;
  height:87%;
  border-radius: 10px;
  padding: 2.5%;
  margin: auto;
}
/*Teclas de la calculadora*/
.calculadora td button{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  font-size:clamp(2rem,3vw,3rem);
  background:var(--numeros);
  border:1px solid var(--borde-teclas);
  color: white;
  cursor: pointer;
  transition: .2s ease-in;
}
.calculadora td button:hover{
  background: var(--operadores);
}
#reset, #division, #multiplicacion, #resta,#suma,#igual{
  background: var(--operadores);
  border:1px solid var(--borde-operadores);
  font-weight: bold;
  font-size:45px;
  height: 100%;
  width: 100%;
  padding: 0;
}
#reset:hover, #division:hover, #multiplicacion:hover, #resta:hover,#suma:hover,#igual:hover{
  background-color: var(--calculadora);
}
td #resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size:clamp(2rem,3vw,3rem);
  width:98%;
  height: 10vh;
  line-height: 100px;
  background-color:#fff;
  border-radius: 10px;
  margin: auto;
}
/*@media (max-width:490px) {
  #resultado{
    width: 400px;
  }
}*/
/*.dark{
  background: linear-gradient(1.42deg, #484646 0.82%, #202020 98.44%);
  
}*/